<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="boardMap" id="BoardVO">
		<id property="idx" column="idx"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writerId" column="writer_id"/>
		<result property="writerName" column="writer_name"/>
		<result property="registDate" column="regist_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="attIdx" column="att_idx"/>
		<result property="attFilename" column="att_filename"/>
		<result property="storePath" column="store_path"/>
		<result property="baseFilename" column="base_filename"/>
	</resultMap>
	
	<resultMap type="attFileMap" id="BoardAttFileVO">
		<id property="idx" column="idx"/>
		<result property="boardIdx" column="board_idx"/>
		<result property="filePath" column="file_path"/>
		<result property="oldFilename" column="old_filename"/>
		<result property="newFilename" column="new_filename"/>
		<result property="fileSize" column="file_size"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="BoardVO">
		<![CDATA[
			SELECT B.*, U.name AS writer_name
			FROM board B INNER JOIN user U ON B.writer_id = U.id
			ORDER BY idx desc
		]]>
	</select>
	
	<select id="selectBoard" resultMap="BoardVO" parameterType="long">
		<![CDATA[
			SELECT 
				B.idx, 
				B.title, 
				B.content, 
				B.writer_id, 
				B.regist_date, 
				B.modify_date, 
				U.name AS writer_name,
				F.idx AS att_idx,
				F.old_filename AS att_filename,
				F.file_path AS store_path,
				F.new_filename AS base_filename
			FROM 
				board B 
			INNER JOIN 
				user U 
			ON 
				B.writer_id = U.id
			LEFT OUTER JOIN
				board_att_file F
			ON
				B.idx = F.board_idx
			WHERE 
				B.idx = #{idx}
		]]>
	</select>
	
	<insert id="insertBoard" parameterType="boardMap">
		<![CDATA[
			INSERT INTO board(title, content, writer_id)
			VALUES(#{title}, #{content}, #{writerId})
		]]>
		
		<selectKey keyProperty="idx" order="AFTER" resultType="_int">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<update id="updateBoard" parameterType="boardMap">
		<![CDATA[
			UPDATE board
			SET title=#{title}, content=#{content}, modify_date=NOW()
			WHERE idx = #{idx}
		]]>
	</update>
	
	<delete id="deleteBoard" parameterType="long">
		<![CDATA[
			DELETE FROM board 
			WHERE idx = #{idx}
		]]>
	</delete>
	
	<!-- attFile -->
	
	<select id="selectBoardAttFile" parameterType="attFileMap" resultMap="BoardAttFileVO">
		<![CDATA[
			SELECT idx, board_idx, file_path, old_filename, new_filename, file_size
			FROM board_att_file
			WHERE idx = #{idx} AND board_idx = #{boardIdx};
		]]>
	</select>
	
	<insert id="insertBoardAttFile" parameterType="attFileMap">
		<![CDATA[
			INSERT INTO board_att_file(board_idx, file_path, old_filename, new_filename, file_size, writer_id)
			VALUES(#{boardIdx}, #{filePath}, #{oldFilename}, #{newFilename}, #{fileSize}, #{writerId})
		]]>
	</insert>
	
	<delete id="deleteBoardAttFile" parameterType="attFileMap">
		<![CDATA[
			DELETE FROM board_att_file
			WHERE idx = #{idx} AND board_idx = #{boardIdx};
		]]>
	</delete>
</mapper>